name: newbooks

on:
  workflow_dispatch: # enables you to run it manually

  schedule:
    - cron: "30 22 * * *" # runs at 22:30 UTC (5:30 PM CDT) everyday

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: execute py script
        run: |
          pip install xmltodict
          cd docs
          echo -e "ALMA_API_KEY = '${{ secrets.ALMA_API_KEY }}'\nGB_API_KEY = '${{ secrets.GB_API_KEY }}'" > config.py
          python new-books.py

      - name: deploy to github pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/gh-pages
          force_orphan: true
